* {box-sizing: border-box;
}

header {
    padding: 20px;
    text-align: center;
    background: rgb(240, 6, 6);
    color: #ffffff;
    font-size: 25px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 6, 6);
    margin: 0;
    /* how to add background img */
    /* how to add fonts */
}
.h1 {
    color: blueviolet
   
}
nav {
    display: flex;
    background-color: green;
    }

nav a {
    color: green;
    padding: 14px 20px;
    text-align: center;

}

nav a:hover {
    color: #fff
}

.selfie img {
    width: 200px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    /* flex: 0 0 400px; */
}
.Hobbies img {
    width: 200px
    

}
.projects img {
    width: 800px;
}
p {
    font-size: 16px
}
Section {
    font-size: 25px
}
main a {
    font-size: 18px
}