* {box-sizing: border-box;
}

nav {
    background-image: linear-gradient(rgb(249, 252, 247),rgb(168, 236, 168));
}


header {
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(168, 236, 168),rgb(240, 14, 14));
    color: #ffffff;
    font-size: 25px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgb(168, 235, 142),rgb(240, 14, 14));
    margin: 0;
    /* how to add background img */
    /* how to add fonts */
}
.h1 {
    color: blueviolet
   
}
nav {
    display: flex;
    background-color: green;
    }

nav a {
    color: green;
    padding: 14px 20px;
    text-align: center;

}

nav a:hover {
    color: #fff
}

.selfie img {
    width: 200px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    /* flex: 0 0 400px; */
}
.Hobbies img {
    width: 200px
    

}
.projects img {
    width: 800px;
}
p {
    font-size: 16px
}
Section {
    font-size: 25px
}
main a {
    font-size: 18px
}
button {
    border: 1px black solid;
    background: none;
    box-shadow: 10px 0px 5px black;
    border-radius: 30px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 50px;
    transition: all 1s ease;
}
button:hover {
    box-shadow: 0px, 0px, 5px, purple;
    border: 1px purple solid;
    background: white;
    transform: rotateZ(20deg)
}