* {box-sizing: border-box;
}

header {
    padding: 20px;
    text-align: center;
    background: lemonchiffon;
    color: #ac07d1;
    font-size: 25px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffddf4;
    margin: 0;
    /* how to add background img */
    /* how to add fonts */
}
.h1 {
    color: blueviolet
}
nav {
    display: flex;
    background-color:blueviolet;
    
}

nav a {
    color: black;
    padding: 14px 20px;
    text-align: center;

}

nav a:hover {
    color: #fff
}

.selfie img {
    width: 400px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    flex: 0 0 400px;
}